getzipcode1/src/main/mule/zipcodes.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

	<flow name="zipcodes-main" doc:id="fae07db2-ad09-48ba-aa34-cb0be0d3099d">
        <http:listener config-ref="zipcodes-httpListenerConfig1" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="zipcodes-config" />
		<error-handler ref="global_Error_Handler" />
        
    </flow>
    <flow name="zipcodes-console" doc:id="f1fb344c-cfd5-4155-8a54-e3bfe94ffb17">
        <http:listener config-ref="zipcodes-httpListenerConfig1" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="zipcodes-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\project1:zipcodes-config" doc:id="1591a658-c1e9-465f-8fe1-5211ef575779">
		<flow-ref doc:name="Flow Reference" doc:id="68d3488b-0e54-481a-91b9-1af64fbf75a0" name="get:\project1\(zipcodes):zipcodes-config"/>
		<error-handler ref="global_Error_Handler" />
    </flow>
    <flow name="get:\project1\(zipcodes):zipcodes-config" doc:id="1818f78b-69cb-4738-bd9a-8a9bf3560a58">
		<set-variable value="#[attributes.uriParams.zipcodes]" doc:name="Set Variable" doc:id="31f9bfee-8d73-4f62-a764-a6edadd1a088" variableName="zipcodes"/>
		<http:request method="GET" doc:name="Request" doc:id="b30d01fb-9034-4c09-9076-17bbb2a96af8" config-ref="HTTP_Request_configuration2" path='/GetZipCodeDetails/{zipcodes}'>
			<http:uri-params><![CDATA[#[{
   "zipcodes":	attributes.uriParams.zipcodes

}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[%dw 2.0
fun VP8HB4BLWM1YJTGVLJV(param0: Number, param1: Nothing) = ???
output application/json
---
{
  key: "7FX7MSA9P4QXQYL7I8CJ"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="e1657ed6-e8a1-4e0a-9445-e6115dcf091b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0

output application/json

---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<error-handler ref="global_Error_Handler" />
    </flow>
</mule>
